:root{
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    height: 96vh;
    width: 95vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: burlywood;
}

table{
    background-color: blueviolet;
    color: white;
}